@model OtpProvider.WebApi.Entities.OtpRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OtpRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuccessful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuccessful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
